<!DOCTYPE html>
<div
	class="sidebar bg-white border-end p-3 collapse collapse-horizontal show"
	id="sidebarCollapse">

	<ul class="nav flex-column mt-2">
		<li class="nav-item mb-2"><a href="#"
			class="nav-link text-black"> <i class="bi bi-cart-fill"></i>
				Đơn hàng
		</a></li>
		<li class="nav-item mb-2"><a href="#"
			class="nav-link text-black"> <i class="bi bi-person-vcard-fill"></i>
				Vai trò
		</a></li>
	</ul>
	<hr>
	<div class="mt-auto">
		<p class="text-center">
			<strong>AMINISTRATOR CONTROLLER</strong>
		</p>
	</div>
</div>
<style>
.sidebar {
	height: 100%;
	border-left: solid 0px 0px 2px 0px white;
}
</style>