<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}"
	style="background-color: #F5F5FA;">

<body>
	<main>
		<div class="row container m-0 p-0">
			<!-- Article -->
			<article
				class="col-sm-12 col-md-10 main-article bg-white border rounded">
				<h3 class="my-3">Giỏ hàng</h3>
				<hr>

				<div class="mb-3">
					<button ng-click="cart.clear()" class="btn btn-danger">Làm
						trống</button>
					<a th:href="@{/order/checkout}" class="btn btn-primary">Thanh toán</a>
				</div>

				<table class="table table-default table-bordered">
					<thead>
						<tr>
							<th>Mã sản phẩm</th>
							<th>Ảnh sản phẩm</th>
							<th>Tên sản phẩm</th>
							<th>Đơn giá</th>
							<th>Số lượng</th>
							<th>Tổng cộng</th>
							<th>Hành động</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in cart.items">
							<td>{{item.id}}</td>
							<td>
    <img ng-src="{{'/image/product_image/' + item.image}}" alt="Product Image" height="100" width="100%">
</td>


							<td>{{item.name}}</td>
							<td>${{item.price | number : 2}}</td>
							<td><input ng-change="cart.saveToLocalStorage()"
								ng-model="item.qty" type="number" min="1" class="form-control"></td>
							<td>${{item.price*item.qty | number : 2}}</td>

							<td>
								<button ng-click="cart.remove(item.id)" class="btn btn-danger">Xóa</button>
							</td>
						</tr>
					</tbody>
				</table>



			</article>

			<!-- Aside -->
			<aside class="col-sm-0 col-md-2 p-2 main-side-bar">
				<div th:replace="/components/_category.html"></div>
			</aside>

		</div>
	</main>

</body>

</html>