<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}"
	style="background-color: #F5F5FA;">

<body>
	<main>
		<!-- Body -->
		<div class="container-fluid mx-0 p-0 bg-white">
			<!-- Nội dung trang web -->
			<div class="container-fluid mx-0 p-0">
				<div class="row mx-0 p-0">
					<div class="col-2 mx-0 p-0">
						<div th:replace="/components/_sidebar.html"></div>
					</div>
					<div class="col-10">
						<div class="container table-container"
							style="position: relative; margin-top: 50px; min-height: 500px;">
							<h2 class="form-title">BẢNG ĐIỀU KHIỂN</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

</body>

</html>