<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Trang Chủ</title>

<!-- Bootstrap -->
<link rel="stylesheet"
	th:href="@{/bootstrap-5.3.3-dist/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script th:src="@{'/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js'}"></script>
<!-- jQuery -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- Angular JS -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<!-- CSS Custom -->
<link rel="stylesheet" th:href="@{/css/menu.css}">
</head>

<body>

	<div class="container-fluid m-0 p-0">
		<!-- HEADER -->
		<header class="row">
			<!-- NAV MENU -->
			<div th:replace="/components/_menu.html"></div>

		</header>

		<!-- Body -->
		<div class="container-fluid d-flex justify-content-center mx-0 p-0">
			<!-- Main Content -->
			<div class="row container m-0 p-0">
				<!-- Bản tin -->
				<div class="row container m-0 p-0">
					<!-- Article -->
					<article class="col-sm-0 col-md-2 bg-success">
						<div class="container-fluid">

							<!-- <div th:replace="/components/news.html"></div> -->

						</div>
					</article>

					<!-- Aside right - Category -->
					<aside class="col-sm-12 col-md-10 p-2 bg-danger">
						
					</aside>
				</div>


			</div>
		</div>
		<!-- Footer -->
		<footer class="bg-warning p-0 m-0"
			th:replace="/components/_footer.html"></footer>
	</div>



</body>

</html>