<div class="card mt-3">
	<div class="card-header bg-light">
		<h5 class="text-primary mb-0">THÔNG TIN DANH MỤC</h5>
	</div>

	<div class="card-body">
		<div class="form-group mb-3">
			<label for="name">Tên danh mục:</label> <input id="name"
				ng-model="form.name" class="form-control"
				placeholder="Nhập tên danh mục">
		</div>
	</div>

	<div class="text-end m-3">
		<button class="btn btn-primary me-2" type="button" ng-click="create()">
			<i class="bi bi-plus-lg"></i> Create
		</button>
		<button class="btn btn-success me-2" type="button" ng-click="update()">
			<i class="bi bi-check-lg"></i> Update
		</button>
		<button class="btn btn-danger me-2" type="button"
			ng-click="delete(form)">
			<i class="bi bi-trash"></i> Delete
		</button>
		<button class="btn btn-info" type="button" ng-click="reset()">
			<i class="bi bi-arrow-clockwise"></i> Reset
		</button>
	</div>
</div>
