<div class="card mt-3">
	<div class="card-header bg-light">
		<h5 class="text-primary mb-0">DANH SÁCH DANH MỤC</h5>
	</div>

	<div class="card-body p-0">
		<table class="table table-bordered table-hover mb-0">
			<thead class="table-success text-center">
				<tr>
					<th>ID</th>
					<th>Tên danh mục</th>
					<th>Hành động</th>
				</tr>
			</thead>
			<tbody class="text-center">
				<tr ng-repeat="item in pager.items">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>
						<button class="btn btn-sm btn-warning" ng-click="edit(item)">
							<i class="bi bi-pencil-square"></i>
						</button>
						<button class="btn btn-sm btn-danger" ng-click="delete(item)">
							<i class="bi bi-trash"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="card-footer text-center">
		<button class="btn btn-danger me-1" ng-click="pager.first()">
			<i class="bi bi-skip-backward-fill"></i>
		</button>
		<button class="btn btn-primary me-1" ng-click="pager.prev()">
			<i class="bi bi-caret-left-fill"></i>
		</button>
		<span class="btn btn-success me-1">{{pager.page + 1}} / {{pager.count}}</span>
		<button class="btn btn-primary me-1" ng-click="pager.next()">
			<i class="bi bi-caret-right-fill"></i>
		</button>
		<button class="btn btn-danger" ng-click="pager.last()">
			<i class="bi bi-skip-forward-fill"></i>
		</button>
	</div>
</div>
